<div class="jumbotron">
  <h1>Welcome to FoodSweep</h1>
  <p>Revolutionizing the way you shop!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>
 
<div class="row">
  <div class="col-md-4">
    <h2>PLACEHOLDER</h2>
    <p>Placeholder</p>
  </div>
  <div class="col-md-4">
    <h2>PLACEHOLDER</h2>
    <p>Placeholder</p>
  </div>
  <div class="col-md-4">
    <h2>PLACEHOLDER</h2>
    <p>Placeholder</p>
  </div>
</div>